@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: whitesmoke;
}

body main {
    height: 1vh;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body main div {
    width: 100%;
}
